 *{
	 margin:0px;
	 padding: 0px;
 }
 
 
 
 canvas {
  position: absolute;
  left: 50%;
  top: 50%;
  background: transparent;
}

#map {
	z-index: -1;
}

#player {
	z-index: 0;
}
			
#otherPlayers {
	z-index: 0;
}

